@font-face {
  font-family: 'tare';
  src: url('font/FOT-RowdyStd-EB.ttf') format('truetype');
}
h1 {
  font-family: 'tare';
}  
@font-face {
  font-family: 'tare';
  src: url('font/FOT-RowdyStd-EB.ttf') format('truetype');
}
h2 {
  font-family: 'tare';
}
