@font-face {
  font-family: 'tare';
  src: url('font/FOT-RowdyStd-EB.ttf') format('truetype');
}
h1 {
  font-family: 'tare';
}  
h2 {
  font-family: 'tare';
}
 a {
  font-family: 'tare';
}
@media screen and (max-width: 480px) {
h1 {
  font-size : 15px ; 
}
h2 {
  font-size : 15px ; 
}  
 p {
  font-size : 15px ; 
}
